In [14]:
import pandas as pd
import numpy as np

In [2]:
loan = pd.read_csv('loans_income.csv')
loan

            x
0       67000
1       52000
2      100000
3       78762
4       37041
...       ...
49995   40000
49996   54000
49997   50000
49998   82000
49999   70000

[50000 rows x 1 columns]

In [15]:
loan.sample(1000)

            x
17757  100000
43632   60000
19451   35000
29360   64000
29510   26000
...       ...
36350   50000
23816   25000
22800   39000
23825   30000
21495   49000

[1000 rows x 1 columns]

In [18]:
np.random.choice(loan['x'], size=10)

78600.0

In [31]:
def bootstrap1(num):
    bssample=[]
    for i in range(num):
        bssample.append(loan.sample(10).values)
    return bssample
    #for item in bssample:
        #print(item.mean())

In [34]:
bootstrap1(50)

[array([[ 62000],
        [ 78670],
        [100000],
        [120000],
        [ 60000],
        [ 78000],
        [ 50000],
        [ 85000],
        [ 55000],
        [ 56000]], dtype=int64),
 array([[ 42000],
        [ 65000],
        [ 68000],
        [ 50000],
        [ 75000],
        [108000],
        [ 40800],
        [ 87500],
        [ 33000],
        [ 91800]], dtype=int64),
 array([[ 90000],
        [ 66000],
        [ 80000],
        [ 70000],
        [ 50000],
        [192000],
        [125000],
        [ 68000],
        [ 75000],
        [ 32000]], dtype=int64),
 array([[ 19896],
        [ 97333],
        [ 77000],
        [ 60000],
        [150000],
        [ 87000],
        [ 34600],
        [ 52000],
        [ 52000],
        [120000]], dtype=int64),
 array([[ 39000],
        [150000],
        [ 40000],
        [ 71500],
        [ 24000],
        [ 51615],
        [190000],
        [ 35000],
        [ 60000],
        [ 43680]], dtype=int64),
 array([[ 43000],
        [ 72000],
        [ 49000],
        [ 80000],
        [115000],
        [ 30000],
        [ 20000],
        [ 60000],
        [ 56800],
        [ 81000]], dtype=int64),
 array([[ 25000],
        [ 50000],
        [ 33000],
        [ 75000],
        [ 40000],
        [160000],
        [ 65000],
        [170000],
        [ 60000],
        [110000]], dtype=int64),
 array([[71000],
        [70000],
        [92000],
        [94000],
        [62000],
        [46000],
        [47000],
        [70000],
        [48000],
        [70000]], dtype=int64),
 array([[ 40000],
        [ 66000],
        [ 42000],
        [ 90000],
        [ 42500],
        [ 50000],
        [ 72000],
        [ 35404],
        [105000],
        [110800]], dtype=int64),
 array([[ 63164],
        [ 50000],
        [ 55000],
        [105000],
        [ 75000],
        [ 90000],
        [ 80000],
        [ 41000],
        [ 24000],
        [ 65000]], dtype=int64)]

In [33]:
def bootstrap2(num):
    bssample=[]
    for i in range(num):
        bssample.append(loan.sample(100).values)
    return bssample